<!DOCTYPE html>
<html>
	<%- include('./element/head.ejs') %>
	<body>
		<div class="main">
			<h1>QUẢN LÝ SINH VIÊN</h1>
			<table id="table" border="1"></table>
			<br />

			<button id="btnAdd">Thêm sinh viên</button>
			<br />
			<button id="btnRemove">Xóa sinh viên</button>
			<input
				type="text"
				id="inputRemove"
				required
				minlength="8"
				maxlength="8"
				size="10"
			/>
      <br/>
      <button id="btnUpdate">Cập nhật sinh viên</button>
			<input
				type="text"
				id="inputUpdate"
				required
				minlength="8"
				maxlength="8"
				size="10"
			/>

			<%- include('./element/input-modal.ejs') %>
		</div>
		<script type="application/javascript" src="script.js"></script>
	</body>
</html>
