<!DOCTYPE html>
<html>
  <%- include('./element/head.ejs') %>
  <body>
    <h1>QUẢN LÝ SINH VIÊN</h1>
    <table id="table" border="1"></table>
    <br /><br />
    <script type="application/javascript" src="script.js"></script>
  </body>
</html>
